@import 'reset';
@import 'themes/light';
@import 'themes/dark';
@import 'variables/typography';

body {
  font-family: var(--font-family-main);

  & * {
    color: var(--text-color);
  }
}

.app {
  min-height: 100vh;
  background: var(--bg-color);
}
