.dark {
  --bg-color: #1c1b1f;
  --primary-color: #d0bcff;
  --secondary-color: #ccc2dc;
  --tertiary-color: #efb8c8;
  --error-color: #f2b8b5;
  --outline-color: #938f99;

  // text
  --text-color: #E6E1E5;
}
